attrs==20.3.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
flake8==3.9.0
Flask==1.1.2
Flask-WTF==0.14.3
idna==3.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.3
python-dotenv==0.17.0
toml==0.10.2
Werkzeug==1.0.1
WTForms==2.3.3
